.transfer-bouncer, .transfer-ipl {
    background: #eeeeee;
}

.split-train {
    display: none;
}

#delta-values {
    display: none;
}

.train-all_en-hi {
    font-weight: bold;
    /* background: #28a745!important; */
}
